@media screen and (min-width: 700px) {

    html, body {
        width: 100vw;
        height: 100vh;
    }
    

    section {

        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;

        position: absolute;
        left: 50%;
        top: 50%;
  
        transform: translate(-50%, -50%);
    }

    .great {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .summary {
        border-radius: 0px 10px 10px 0px;
        padding: 10px;
        margin: 0px;
        height: 100%;
        width: 100%;
    }

}
